:root {
  --color-primary: rgb(0, 0, 0, 1);
  --color-secondary: rgb(255, 255, 255, 1);
  --color-background: #f1f5f9;

  --rgb-accent: 136, 58, 234;
  --rgb-accent-light: 224, 204, 250;
  --rgb-accent-dark: 48, 10, 100;

  --color-accent: rgb(var(--rgb-accent), 1);
  --color-accent-light: rgb(var(--rgb-accent-light), 1);
  --color-accent-dark: rgb(var(--rgb-accent-dark), 1);

  --gradient-accent: linear-gradient(
    45deg,
    rgb(var(--rgb-accent), 1),
    rgb(var(--rgb-accent-light), 1) 20%,
    white 60%
  );

  --icon-size: 2rem;
}

::selection {
  color: var(--color-secondary);
  background-color: rgb(var(--rgb-accent), 1);
}

html {
  background-color: var(--color-background);
}

html.dark-mode {
  --color-primary: rgb(255, 255, 255, 1);
  --color-secondary: rgb(0, 0, 0, 1);
  --color-background: #13151a;
}

html,
body {
  height: 100%;
}

/* --- Typography --- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  color: var(--color-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

/* --- Components --- */

main {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 80rem;
}

.icon-wrapper {
  display: grid;
  place-items: center;
  flex: 0 0 auto;
  width: var(--icon-size);
  height: var(--icon-size);

  > svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    fill: currentColor;
  }
}
