<div class="Hamburger">
  <span class="Line"></span>
  <span class="Line"></span>
  <span class="Line"></span>
</div>

<style>
  .Hamburger {
    padding-right: 2rem;
    cursor: pointer;
  }

  .Line {
    display: block;
    width: 4rem;
    height: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--color-accent);
  }

  @media screen and (min-width: 636px) {
    .Hamburger {
      display: none;
    }
  }
</style>
